.auth-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;

    background-color: #ffffff;
    overflow: hidden;
}

.auth-card-container {
    width: 100%;
    max-width: 420px;
    padding: 20px;
}

.auth-card {
    border-radius: 16px !important;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05) !important;
}

.auth-icon-circle {
    width: 56px;
    height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.form-control:focus {
    border-color: #dee2e6;
    box-shadow: none !important;
}

.input-group-text {
    border-right: none !important;
}

.form-control {
    border-left: none !important;
}